body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.headerhidden {
  display: none;
}

.div_header {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.img_url {
  width: 100px;
  height: 100px;
}

.scorelist {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 50px;
}

.paragraph_url {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  width: 100%;
}

.div_footer {
  display: flex;
  border: 2px solid #000;
  padding: 25px 15px 25px 15px;
  margin: 0 5px 0 5px;
}

.div_second_footer {
  display: flex;
  border: 2px solid #000;
  border-top: none;
  margin: 0 5px 5px 5px;
  background-color: #ccc;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 20px;
}

.rotate {
  transform: rotate(20deg);
  padding-right: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 0 30px 0;
}

button {
  cursor: pointer;
}

.planets,
.race,
.Spaceships {
  cursor: pointer;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 2px solid #000;
  background-color: #ccc;
  box-shadow: 1px 1px 0 0 #000;
  font-size: 25px;
  font-weight: 500;
}

.likes,
.Reservations,
.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 1px 1px 0 0 #000;
  padding: 2px 5px 2px 5px;
}

.like_comment {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
